In [11]:
import os
import geopandas as gpd

# os.environ["USE_PYGEOS"] = os.environ.get("USE_PYGEOS", "0")
local_crs = 32636
# path to data
example_data_path = "./data"

## Input data fetching
The input "blocks" data also should be obtained from the previous example result

In [12]:
from blocksnet.preprocessing import DataGetter, AggregateParameters

blocks = gpd.read_parquet(os.path.join(example_data_path, "blocks_cutter_result.parquet")).to_crs(local_crs)
getter = DataGetter(blocks=blocks)

## City blocks information aggregating
Here we aggregate information about buildings, greenings and parkings into the city blocks

In [17]:
buildings = gpd.read_parquet(os.path.join(example_data_path, "buildings.parquet"))
greenings = gpd.read_parquet(os.path.join(example_data_path, "greenings.parquet")).rename_geometry('geometry')
parkings = gpd.read_parquet(os.path.join(example_data_path, "parkings.parquet")).rename_geometry('geometry')

aggr_params = AggregateParameters(
  buildings=buildings,
  greenings=greenings,
  parkings=parkings
)

aggregated_blocks = getter.aggregate_blocks_info(params=aggr_params)
aggregated_blocks.to_gdf().head()

Restoring living area:   0%|          | 0/3748 [00:00<?, ?it/s]

Restoring living area squash:   0%|          | 0/3748 [00:00<?, ?it/s]

,geometry,landuse,block_id,is_living,current_population,floors,current_living_area,current_green_capacity,current_green_area,current_parking_capacity,current_industrial_area,area
0,"POLYGON ((344943.719 6647610.514, 344959.205 6...",buildings,0,False,0.0,NaN,0.0,0.0,0.0,0.0,0.0000,41.130907
1,"POLYGON ((344968.687 6647544.000, 344971.625 6...",buildings,1,False,0.0,NaN,0.0,0.0,0.0,0.0,0.0000,162.222101
2,"POLYGON ((344929.592 6647257.521, 344931.964 6...",buildings,2,False,0.0,0.0,0.0,0.0,0.0,0.0,42.6397,48.648312
3,"POLYGON ((344840.676 6647432.974, 344853.943 6...",buildings,3,False,0.0,NaN,0.0,0.0,0.0,0.0,0.0000,61.481533
4,"POLYGON ((344856.398 6647391.171, 344900.097 6...",buildings,4,False,0.0,NaN,0.0,0.0,0.0,0.0,0.0000,389.792373

## Accessibility matrix 
Accessibility matrix is generated using `CityGeoTools` library graphml

In [14]:
import networkx as nx

#we get this from CityGeoTools
transport_graph = nx.read_graphml(os.path.join(example_data_path, "new_graph.graphml.xml"))

accessibility_matrix = getter.get_accessibility_matrix(transport_graph)

In [18]:
accessibility_matrix.df.head()

id,0,1,2,3,4,5,6,7,8,9,...,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353
id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.1,8.2,0.1,8.2,8.2,5.5,3.9,3.9,13.2,...,22.2,19.0,17.4,17.4,16.7,19.4,19.5,20.3,20.1,19.2
1,0.1,0.0,8.1,0.0,8.1,8.1,5.6,4.0,4.0,13.3,...,22.3,19.1,17.5,17.5,16.8,19.5,19.6,20.4,20.2,19.3
2,8.2,8.1,0.0,8.1,0.0,0.0,13.6,11.6,11.6,9.0,...,22.6,19.4,18.3,18.3,18.0,22.5,19.5,20.3,22.4,20.4
3,0.1,0.0,8.1,0.0,8.1,8.1,5.6,4.0,4.0,13.3,...,22.3,19.1,17.5,17.5,16.8,19.5,19.6,20.4,20.2,19.3
4,8.2,8.1,0.0,8.1,0.0,0.0,13.6,11.6,11.6,9.0,...,22.6,19.4,18.3,18.3,18.0,22.5,19.5,20.3,22.4,20.4

Save result for the next example

In [16]:
aggregated_blocks.to_gdf().to_parquet(os.path.join(example_data_path, "data_getter_blocks.parquet"))
accessibility_matrix.df.to_pickle(os.path.join(example_data_path, "data_getter_matrix.pickle"))